annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
distro==1.8.0
Django==4.2.6
dnspython==2.4.2
docopt==0.6.2
fonttools==4.44.3
gTTS==2.4.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.2
openai==1.3.5
packaging==23.2
paho-mqtt==1.6.1
pandas==2.1.3
picoh==1.275
Pillow==10.1.0
pipreqs==0.4.13
playsound==1.3.0
ptitprince==0.2.7
pydantic==2.5.2
pydantic_core==2.14.5
pydub==0.25.1
pygame==2.5.0
pyparsing==3.1.1
pyserial==3.5
python-dateutil==2.8.2
python-etcd==0.4.5
pytz==2023.3.post1
requests==2.31.0
scipy==1.11.3
seaborn==0.11.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
yarg==0.1.9
