/* Variables */
:root {
    --nav-bar-color: #111;
    --app-bar-color: #ddd;
    --highlight-color: #f1f1f1;
    --font-family: "Lato", sans-serif;
    --transition-duration: 0.3s;
}

/* Layout */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    user-select: none;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden
}

/* Header */
#notification-bar {
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--app-bar-color);
    padding: 10px;
    box-sizing: border-box;
}

#menu-icon {
    font-size: 42px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Match parent container's height */
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
    line-height: 50px; /* Match the height of the notification bar if needed */
    box-sizing: border-box; /* Ensure height includes borders and padding */
}

#indicators img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

/* Side Navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--nav-bar-color);
    overflow-x: hidden;
    transition: width var(--transition-duration);
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 40px;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: color var(--transition-duration);
}

.sidenav a:hover {
    color: var(--highlight-color);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
}

/* Responsive */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Components */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.date-time {
    display: flex;
    gap: 1rem;
}

.date, .time {
    margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Adjust width for larger displays */
    max-width: 500px; /* Prevent it from growing too large */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px; /* Rounded corners for a better appearance */
    font-size: 1.5rem; /* Larger base font size */
}

/* Add Animation */
@keyframes animatetop {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer button {
    padding: 10px 20px;
    background-color: #0080b3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}

.modal-footer button:hover {
    background-color: #0077b3;
}
