body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

/* Main layout */
#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* padding: 0; */
}

/* Notification Bar */
#notification-bar {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding: 10px;
    flex-shrink: 0;
}

#indicators img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/* Side Navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.check-in, .days-remaining {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.date, .time {
    margin: 0;
}