SPEECH_KEY=111examplekey111
SPEECH_REGION=uksouth
MQTT_BROKER_ADDRESS=localhost
MQTT_BROKER_PORT=1883
GOOGLE_APPLICATION_CREDENTIALS=/path/to/google_cloud_stt_key.json
SDK_CONFIGURATION=vector_serial_number
ROBOT_ENABLED=True
NETWORK_NAME=network
BRIGHTNESS_FILE=/sys/class/backlight/rpi_backlight/brightness
MICROPHONE_INDEX=0