{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">{{ implementationIntention }}</h1>
    <div class="row">
        <div class="check-in">
            <p>Reminder:</p>
            <div class="date-time">
                <p class="time">{{ reminder_time }}</p>
                <p class="time">{{ reminder_time_ampm }}</p>
            </div>
        </div>
        <div class="days-remaining">
            <p> Days remaining: </p>
            <p> {{ days_remaining }} </p>
        </div>
    </div>
</div>
{% endblock %}
