{% extends "base.html" %}

{% block content %}
<h4>Choose a LED colour</h4>
<p>
  The robot has LED lights that can display different colors. Select a
  colour that you think looks good from the following options:
</p>
"orange": (0.05, 0.95),
"lime": (0.21, 1.00),

<div class="radios-container">
  <div id="custom-radios">
    <div>
      <input
        type="radio"
        class="custom-radio"
        id="green"
        name="colour"
        value="green"
      />
      <label for="green">
        <span>
          <img src="./static/check.svg" alt="Checked Icon" />
        </span>
      </label>
    </div>

    <div>
      <input
        type="radio"
        class="custom-radio"
        id="sapphire"
        name="colour"
        value="sapphire"
      />
      <label for="sapphire2">
        <span>
          <img src="./static/check.svg" alt="Checked Icon" />
        </span>
      </label>
    </div>

    <div>
      <input
        type="radio"
        class="custom-radio"
        id="yellow"
        name="colour"
        value="yellow"
      />
      <label for="yellow">
        <span>
          <img src="./static/check.svg" alt="Checked Icon" />
        </span>
      </label>
    </div>

    <div>
      <input
        type="radio"
        class="custom-radio"
        id="red"
        name="colour"
        value="red"
      />
      <label for="red">
        <span>
          <img src="./static/check.svg" alt="Checked Icon" />
        </span>
      </label>
    </div>


    <div>
      <input
        type="radio"
        class="custom-radio"
        id="purple"
        name="colour"
        value="purple"
      />
      <label for="purple">
        <span>
          <img src="./static/check.svg" alt="Checked Icon" />
        </span>
      </label>
    </div>

    <div>
      <input
        type="radio"
        class="custom-radio"
        id="orange"
        name="colour"
        value="orange"
      />
      <label for="orange">
        <span>
          <img src="./static/check.svg" alt="Checked Icon" />
        </span>
      </label>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        // This function is called when any of the radio buttons is changed
        $('input[type="radio"].custom-radio').change(function () {
          // 'this' refers to the radio button that was changed
          var colorValue = $(this).val(); // Get the value of the radio button

          // Make an AJAX request to the Flask route
          $.ajax({
            url: "/colour/" + colorValue,
            type: "GET",
            success: function (response) {
              // This function is called when the server responds successfully
              // Handle the response
              console.log(response);
            },
            error: function (error) {
              // This function is called when the server responds with an error
              console.log(error);
            },
          });
        });
      });
    </script>

{% endblock %}