/* Styling the chat box container */
.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chats {
    padding: 30px 15px 0 25px;
}

/* Styling the message page */
.msg-page {
    max-height: 500px;
    overflow-y: auto;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}

p {
    overflow-wrap: break-word;
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #3a12ff;
    background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}

.outgoing-chats-msg {
    float: right;
    width: 46%;
}

/* Styling the msg-sent time */
.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
